
@keyframes round {


    10% {
        margin: 0;
        transform: rotate(57deg) translateX(-0.63vw) translateY(0.13vw);
        
    }

    20% {
       
        margin: 0;
        transform: rotate(87deg) translateX(-0.75vw) translateY(0.063vw);
    }

    30% {
        margin: 0;
        transform: rotate(117deg) translateX(-0.812vw) translateY(0vw);
    }

    40% {
        margin: 0;
        transform: rotate(147deg) translateX(-1vw) translateY(0.13vw);
    }

    50% {
        margin: 0;
        transform: rotate(177deg) translateX(-1vw) translateY(0.25vw);
    }

    60% {
        margin: 0;
        transform: rotate(207deg) translateX(-1vw) translateY(0.38vw);
    }

    70% {
        margin: 0;
        transform: rotate(238deg) translateX(-0.94vw) translateY(0.5vw);
    }

    80% {
        margin: 0;
        transform: rotate(268deg) translateX(-0.84vw) translateY(0.63vw);
    }

    90% {
        margin: 0;
        transform: rotate(300deg) translateX(-0.75vw) translateY(0.75vw);
    }

    100% {
        margin: 0;
        transform: rotate(360deg) translateX(-0.63vw) translateY(0.32vw);
    }
}

@keyframes roundM {


    10% {
        margin: 0;
        transform: rotate(60deg) translateX(-2vw) translateY(-1vw);
        
    }

    20% {
       
        margin: 0;
           transform:rotate(88deg) translateX(-3.5vw) translateY(-1vw);
    }

    30% {
        margin: 0;
            transform: rotate(118deg) translateX(-4.3vw) translateY(-0.2vw);
    }

    40% {
        margin: 0;
            transform: rotate(147deg) translateX(-4.7vw) translateY(0.74vw);
    }

    50% {
        margin: 0;
            transform: rotate(180deg) translateX(-4.1vw) 
         translateY(2.3vw);
    }

    60% {
        margin: 0;
            transform: rotate(210deg) translateX(-3.3vw) translateY(3vw);
    }

    70% {
        margin: 0;
           transform: rotate(238deg) translateX(-2.4vw) translateY(3vw);
    }

    80% {
        margin: 0;
           transform: rotate(267deg) translateX(-1.3vw) translateY(2.6vw);
    }

    90% {
        margin: 0;
        transform: rotate(298deg) translateX(-0.6vw) translateY(2vw);
    }

    100% {
        margin: 0;
           transform: rotate(360deg) translateX(-0.3vw) translateY(-0.13vw);
    }
}

@keyframes float {
    0% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes float2 {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes float3 {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(20px);
    }
}

@keyframes floatM {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(-5px);
    }
}

@keyframes float2M {
    0% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes float3M {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(10px);
    }
}
