@font-face {
    font-family: "Open Sans bold";
    src: url("../Fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "Open Sans semi-bold";
    src: url("../Fonts/OpenSans-Semibold.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../Fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans light";
    src: url("../Fonts/OpenSans-Light.ttf");
}

body {
    margin: 0;
    font-family: 'Open Sans';
    overflow-x: hidden;
}

.desctop {
    display: block;
}

.mobile_s {
    display: none;
}

header {
    display: none;
}


.sec1 {
    width: 100vw;
    background-color: #ffdee1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10vw 7.5vw 8vw 9vw;
    box-sizing: border-box;
}



.sec1 .sec1Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 34vw;
    box-sizing: border-box;
    margin-top: 3.5vw;
}

.sec1 .sec1Info h1 {
    font-size: 2.45vw;
    font-family: "Open Sans bold";
    line-height: 3.1vw;
    margin: 0;
}

.textInfo_p {
    font-size: 1.5vw;
    font-family: "Open Sans";
    line-height: 1.95vw;
    margin: 0;
    color: #161717;
}

.sec1Info h3 {
    font-size: 1.7vw;
    font-family: "Open Sans semi-bold";
    margin: 0.5vw 0 0;
}

.sec1Info .info_hr {
    margin: 1.8vw 0;
    width: 9vw;
    height: 0.2vw;
    background: black;
    border: none;
    outline: none;
    outline: none;
}

.sec1Info label {
    font-size: 1.26vw;
    font-family: "Open Sans semi-bold";
    margin-left: 0.5vw;
    cursor: pointer;
    color: #161717;

}

.sec1Info label span {
    font-size: 1.3vw;
    font-family: "Open Sans bold";

}

.sec1Img {
    background-image: url(../SImg/sec1BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 43vw;
    height: 43vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    box-sizing: border-box;

}

.sec1Circle1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 10.5vw;
    height: 10.5vw;
    background-color: #f7a1a8;
    color: white;
    position: absolute;
    z-index: 2;
    margin-left: 0.3vw;
}

.sec1Circle3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 11vw;
    height: 11.4vw;
    background-image: url(../SImg/pink.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 0;
    margin-left: 0.5vw;
    margin-top: 0.4vw;
}

.sec1Circle1 p {
    font-family: "Open Sans bold";
    font-weight: 900;
    font-size: 1.4vw;
}

.sec1Circle1 p span img {
        width: 1.2vw;
}

.sec1Circle2 {
    width: 13vw;
    height: 11.4vw;
    background-image: url(../SImg/pink+indicator.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    transition: all 5s;

    box-sizing: border-box;
    z-index: 1;
    left: -0.7vw;
    top: 0.5vw;
    transform: rotate(-1deg);
/*
    -webkit-animation: round 15s infinite;
    animation: round 15s infinite;
    animation-timing-function: steps(1, end);
*/

}

.litBubble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: -13.7vw;
}

.drop1,
.drop2,
.drop3,
.drop4,
.drop5 {
    position: relative;
}

.drop1 {
    top: -3.5vw;
    left: -3vw;
    width: 1vw;
    -webkit-animation: float ease-in-out 3s infinite;
    animation: float ease-in-out 3s infinite;

}

.drop2 {
    top: 0.5vw;
    left: 4.5vw;
    width: 1.5vw;
     -webkit-animation: float2 ease-in-out 4s infinite;
    animation: float2 ease-in-out 4s infinite;

}

.drop3 {
    width: 3.3vw;
     -webkit-animation: float3 ease-in-out 7s infinite;
    animation: float3 ease-in-out 7s infinite;
}

.drop4 {
    top: 2.2vw;
    left: -3vw;
    width: 2.3vw;
     -webkit-animation: float ease-in-out 3s infinite;
    animation: float ease-in-out 3s infinite;

}

.drop5 {
       top: 0.5vw;
    left: 2vw;
    width: 1.4vw;
     -webkit-animation: float2 ease-in-out 5s infinite;
    animation: float2 ease-in-out 5s infinite;

}

.sec2 {
    background-color: #d6f2f7;
    width: 100vw;
    padding: 9vw 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.sec2 h1 {
    font-size: 2.45vw;
    font-family: "Open Sans bold";
    line-height: 3.1vw;
    margin: 0;
}

.sec2Info {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 7vw 0 4vw;
    box-sizing: border-box;
}

.sec2Img {
    width: 39vw;
    margin: 0 7.5vw 0vw 0;
}

.sec2Img2 {
    margin: 0 2vw 0 6.5vw;
    width: 39vw;
}

.sec2Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 4vw 0 0;

}

.sec2Text2 {

    padding: 0 0vw 0 4vw;

}

.sec2Text p {
    font-size: 1.5vw;
    font-family: "Open Sans";
    line-height: 1.95vw;
    margin: 0;
    color: #161717;
}

.sec2Icon {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 3vw 0 4vw;
    box-sizing: border-box;
    padding: 0 2.5vw 0 1.8vw;

}

.sec2Icon img {
    width: 8.5vw;
}

.sec2Icon .arrow {
    width: 4vw;
    margin-left: 0.2vw;
}

.sec2Text2 .sec2Icon {

    padding: 0 4.7vw 0 5.2vw;

}



.sec3 {
    width: 100vw;
    background-color: #d6f2f7;
    padding: 0 8vw 12vw;
    box-sizing: border-box;
}

.sec3Box {
    width: 100%;
    background-color: #fefefe;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 1.8vw 2vw;
    box-sizing: border-box;
    text-align: center;
}

.sec3Box .sec3Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0 6vw 0 0;
    width: 22vw;
}

.sec3Box .sec3Info:last-of-type {

    margin: 0;
}

.sec3Box h2 {
    font-size: 1.5vw;
    font-family: "Open Sans semi-bold";
    margin: 0;

}

.sec3Box h3 {
    font-size: 1.15vw;
    font-family: "Open Sans semi-bold";
    margin: 0;
    color: #5b5b5b;
}

.sec3Box h3 span {
    font-size: 1.9vw;
    font-family: "Open Sans bold";
}

.sec3Box p {
    font-size: 1.1vw;
    font-family: "Open Sans";
    margin: 0;
    line-height: 1.6;
    color: #5b5b5b;
}

.sec3Box img {
    box-sizing: border-box;
    margin: 1vw 0 1.2vw;
    width: 6vw;
}

.sec3ImgBox {
    display: flex;
    height: 9vw;
    justify-content: center;
    align-items: center;
}


.sec3Box hr {
    height: 0.2vw;
    width: 3.2vw;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin: 1.9vw 0;
    background: #5b5b5b;
}

.sec4 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10vw 5vw 10vw 4vw;
    background-color: #e6f5f7;
}

.sec4 h1 {
    font-size: 2.45vw;
    font-family: "Open Sans bold";
    line-height: 3.1vw;
    margin: 0;
}

.sec4 p {
    font-size: 1.5vw;
    font-family: "Open Sans";
    line-height: 1.95vw;
    margin: 6vw 12vw 9vw 13vw;
    color: #161717;
}

.table {
    width: 100%;

}

.table table {
    width: 100%;
    background-image: url(../SImg/table.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5vw 0 2.8vw 0vw;
}

.table table .thead td {
    text-align: center;
    font-size: 1.25vw;
    font-family: "Open Sans semi-bold";
    height: 4vw;
    padding: 0 0 0.4vw;
}

.table table td {

    font-size: 1.13vw;

    font-family: "Open Sans";
    text-align: center;


}

.table table img {
    width: 2vw;
}

.td1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 21vw;
    height: 4vw;
    margin: 0;
    box-sizing: border-box;
    padding-left: 7.6vw;
}

#der {

    padding: 0 0 0.4vw 0.9vw;
    font-family: "Open Sans bold";
}

.td1 img {
    width: 3vw;
    margin-left: 2vw;
}

.td2 {
    width: 15vw;
    height: 4vw;

    margin: 0;
    box-sizing: border-box;
}

.td3 {
    width: 18vw;
    height: 4vw;

    margin: 0;
    box-sizing: border-box;
}

.td4 {
    width: 15vw;
    height: 4.3vw;

    margin: 0;
    box-sizing: border-box;
}

.lastTd {
    font-size: 0.94vw !important;
    text-align: left !important;

    width: 22vw;
    height: 4.3vw;
    padding-left: 2.2vw;

    margin: 0;
    box-sizing: border-box;

}

.tr1 .td1 {
    position: relative;
    top: 0.2vw;
}

.tr3 .td1 {
    position: relative;
    bottom: 0.1vw;
}

.tr4 .td1 {
    position: relative;
    bottom: 0.2vw;
}

.tr5 .td1 {
    position: relative;
    bottom: 0.2vw;
}

.tr6 .td1 {
    position: relative;
    bottom: 0.3vw;
}

.tr7 .td1 {
    position: relative;
    bottom: 0.55vw;
}

.tr8 .td1 {
    position: relative;
    bottom: 0.6vw;
}

.tr9 .td1 {
    position: relative;
    bottom: 0.7vw;
}

.tr1 .td3,
.tr1 .td4 {
    position: relative;
    top: 0.5vw;
}

.tr2 .td3,
.tr2 .td4 {
    position: relative;
    top: 0.4vw;
}

.tr3 .td2 {
    position: relative;
    top: 0.4vw;
}

.tr4 .td3 {
    position: relative;
    top: 0.3vw;
}

.tr5 .td2 {
    position: relative;
    top: 0.1vw;
}

.tr7 .td3,
.tr7 .td2 {
    position: relative;
    top: -0.2vw;
}

.tr8 .td3,
.tr8 .td2 {
    position: relative;
    top: -0.3vw;
}

.tr9 .td3,
.tr9 .td2 {
    position: relative;
    top: -0.4vw;
}

.tr2 .lastTd {
    position: relative;
    top: -0.2vw;
}

.tr3 .lastTd {
    position: relative;
    top: -0.2vw;
}

.tr4 .lastTd {
    position: relative;
    top: -0.3vw;
}

.tr5 .lastTd {
    position: relative;
    top: -0.5vw;
}

.tr6 .lastTd {
    position: relative;
    top: -0.6vw;
}

.tr7 .lastTd {
    position: relative;
    top: -0.7vw;
}

.tr8 .lastTd {
    position: relative;
    top: -0.8vw;
}

.tr9 .lastTd {
    position: relative;
    top: -0.9vw;
}

@media all and (max-width:1400px) {
    .td3 {
        width: 19vw;
    }
}

@media all and (max-width:1024px) {
    .td3 {
        width: 20vw;
    }

    .sec4 {

        padding: 10vw 4vw;
    }
}

@media all and (max-width:800px) {

    .sec4 {

        padding: 10vw 3.5vw;
    }

    .lastTd {

        padding-left: 2vw;
    }
}
